
// xs sizes

.flex-container{            // -webkit-  is for Safari
  // display:                  -webkit-flex; 
  // display:                  flex;
  -webkit-flex-flow:        column;
  flex-flow:                column;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      center;
  align-items:              center;
  // -webkit-flex-wrap:        wrap; 
  // flex-wrap:                wrap;
  // -webkit-align-content:    flex-start; 
  // align-content:            flex-start;
}

.bubblewrap{
  display:                  -webkit-inline-flex; /* Safari */
  display:                  inline-flex;
  -webkit-flex-flow:        column;
  flex-flow:                column;

  position:relative;
  min-width:768px;
  min-height:1024px;
  padding-right:0px;
  padding-bottom:0px;
  // background-image: url("../../assets/images/index/IndexLogo_iPadMini_P.png");
}

.bubble{
  position:absolute;
  min-height:250px;
  min-width:250px;
  margin-top:20px;
  margin-left:0px;
}

// Bubble positions =============================================================

.bubbleLogo{ top:233px; left:335px; min-height:290px; min-width:290px; }

.bubbleStatement{ top:513px; left:162px; min-height:353px; min-width:353px; }

.bubblePrint{ top:518px; left:520px; min-height:147px; min-width:147px; }

.bubbleWeb{ top:115px; left:261px; min-height:147px; min-width:147px; }

.bubbleClients{ top:441px; left:55px; min-height:147px; min-width:147px; }

.bubbleProfile{ top:276px; left:70px; min-height:147px; min-width:147px; }

.bubblePlayground{ top:387px; left:209px; min-height:112px; min-width:112px; }

.bubbleIllustration{top:670px; left:605px;  min-height:88px; min-width:88px; }

.bubbleCustard{top:128px; left:422px;  min-height:88px; min-width:88px; }

.bubbleLaughingBag{top:188px; left:165px;  min-height:88px; min-width:88px; }

.bubbleTshirts{top:276px; left:235px;  min-height:88px; min-width:88px; }

.bubbleEmail{top:430px; left:623px;  min-height:88px; min-width:88px; }

.bubbleLinkedIn{top:678px; left:530px;  min-height:60px; min-width:60px; }

.bubbleShare{top:606px; left:90px;  min-height:60px; min-width:60px; }


// TYPESTYLES ==================================================================

.logo{
  display:inline-block;
  // border: 1px dotted green;
  border-left: 2px solid $Orange;
  padding-left:6px;
  text-align:left;

}

.logo h1{
  top:0px;
  left:0px;
  font-size:64px;
  line-height:56px;
  margin-top: 3px;
  margin-bottom: -13px;
  word-spacing:-10px;
}