.bubbleLogo{
  top:114px;
  left:224px;
  width:323px;
  height:323px;
}

.bubbleStatement{
  top:237px;
  left:535px;
  width:393px;
  height:393px;
}

.bubblePrint{
  top:67px;
  left:541px;
  width:164px;
  height:164px;
}

.bubbleWeb{
  top:355px;
  left:94px;
  width:164px;
  height:164px;
}

.bubbleClients{
  top:584px;
  left:455px;
  width:164px;
  height:164px;
}

.bubbleProfile{
  top:567px;
  left:272px;
  width:164px;
  height:164px;
}

.bubblePlayground{
  top:452px;
  left:396px;
  width:124px;
  height:124px;
}

.bubbleIllustration{
  top:40px;
  left:710px;
  width:97px;
  height:97px;
}

.bubbleCustard{
  top:242px;
  left:108px;
  width:97px;
  height:97px;
}

.bubbleLaughingBag{
  top:528px;
  left:175px;
  width:97px;
  height:97px;
}

.bubbleTshirts{
  top:451px;
  left:272px;
  width:97px;
  height:97px;
}

.bubbleEmail{
  top:18px;
  left:443px;
  width:97px;
  height:97px;
}

.bubbleLinkedIn{
  top:156px;
  left:717px;
  width:64px;
  height:64px;
}

.bubbleShare{
  top:640px;
  left:640px;
  width:64px;
  height:64px;
}

// OLD ===============================================
// .bubble{
//   display:                  -webkit-flex; 
//   display:                  flex;
//   -webkit-flex-flow:        row;
//   flex-flow:                row;
//   -webkit-justify-content:  center;
//   justify-content:          center;
//   -webkit-align-items:      center;
//   align-items:              center;

//   background-color: $Orange;
//   margin:10px;
//   border-radius: 50%;
// }

// // bubble sizes are set in respontive partial

// .bubble{ 

//   min-width:250px;
//   min-height:250px;
// }