
.container
  %H1 UI Guidelines
  %ul.nav.nav-pills
    %li.active
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Menu 1
    %li
      %a{:href => "#"} Menu 2
    %li
      %a{:href => "#"} Menu 3
