.uinav
  = render 'ui_nav'
    

%h1 Navs

.row
  .col-xs-4

    %h3 Pills

    %ul.nav.nav-pills
      %li.active(role='presentation')
        %a(href="#") Link 1
      %li(role='presentation')
        %a(href="#") Link 2
      %li(role='presentation')
        %a(href="#") Link 3

  .col-xs-4
    %h3 Stacked Pills

    %ul.nav.nav-pills.nav-stacked
      %li.active(role='presentation')
        %a(href="#") Link 1
      %li(role='presentation')
        %a(href="#") Link 2
      %li(role='presentation')
        %a(href="#") Link 3