#overview.ui-guidelines

  .uinav
    = render 'ui_nav'

  .row
    .ui-article.col-xs-12
      %h1 UI Overview.
      %p This is the overview page for the User Interface of Foundry. Showing some of the basic core elements
      .divide-dots-ui
  .row
    .ui-article.col-xs-12
      %h2 Typography
      %h1 Header 1
      %h2 Header 2
      %h3 Header 3
      %h4 Header 4
      %h5 Header 5
      %h6 Header 6
      %p Paragraph text
      %p.small Small paragraph text

      .divide-dots-ui
    
    .ui-article.col-xs-12  
      %h2 Colour Pallet
      %h3 Primary Colours
      .colour-swatch.SARDTurq
        %h6 $SARDTurq
        %h6 #00B2B2
      .colour-swatch.SARDTeal
        %h6 $SARDTeal
        %h6 #004D4D
      .colour-swatch.SARDGreen
        %h6 $SARDGreen
        %h6 #359E00
      .colour-swatch.SARDYellow
        %h6 $SARDYellow
        %h6 #FFB200
      .colour-swatch.SARDOrange
        %h6 $SARDOrange
        %h6 #FF6A00
      .colour-swatch.SARDRed
        %h6 $SARDRed
        %h6 #BF0000
      .colour-swatch.SARDPurple
        %h6 $SARDPurple
        %h6 #52008C

    .ui-article.col-xs-12  
      %h3 Secondary Colours
      .colour-swatch.SARDPink
        %h6 $SARDPink
        %h6 #E50073
      .colour-swatch.SARDLime
        %h6 $SARDLime
        %h6 #A7BF30
      .colour-swatch.SARDBlue
        %h6 $SARDBlue
        %h6 #003CB2
      .colour-swatch.SARDInk
        %h6 $SARDInk
        %h6 #00178C
      .colour-swatch.SARDPlum
        %h6 $SARDPlum
        %h6 #990099

    .ui-article.col-xs-12  
      %h3 Primary Greys
      .colour-swatch.SARDGrey01
        %h6 $SARDGrey01
        %h6 #F5F5F5
      .colour-swatch.SARDGrey02
        %h6 $SARDGrey02
        %h6 #ECEBEB
      .colour-swatch.SARDGrey04
        %h6 $SARDGrey04
        %h6 #D9D7D7
      .colour-swatch.SARDGrey06
        %h6 $SARDGrey06
        %h6 #C7C4C3
      .colour-swatch.SARDGrey08
        %h6 $SARDGrey08
        %h6 #B4B0AF
      .colour-swatch.SARDGrey10
        %h6 $SARDGrey10
        %h6 #A29D9B
      .colour-swatch.SARDGrey12
        %h6 $SARDGrey12
        %h6 #817D7C
      .colour-swatch.SARDGrey14
        %h6 $SARDGrey14
        %h6 #615E5D
      .colour-swatch.SARDGrey16
        %h6 $SARDGrey16
        %h6 #403E3E
      .colour-swatch.SARDGrey18
        %h6 $SARDGrey18
        %h6 #100F0F

      .ui-article.col-xs-12  
      %h3 Secondary Greys
      .colour-swatch.SARDGrey03
        %h6 $SARDGrey03
        %h6 #E3E1E1
      .colour-swatch.SARDGrey05
        %h6 $SARDGrey05
        %h6 #D0CECD
      .colour-swatch.SARDGrey07
        %h6 $SARDGrey07
        %h6 #BDBAB9
      .colour-swatch.SARDGrey09
        %h6 $SARDGrey09
        %h6 #ABA6A5
      .colour-swatch.SARDGrey11
        %h6 $SARDGrey11
        %h6 #918D8B
      .colour-swatch.SARDGrey13
        %h6 $SARDGrey13
        %h6 #716D6C
      .colour-swatch.SARDGrey15
        %h6 $SARDGrey15
        %h6 #514E4D
      .colour-swatch.SARDGrey17
        %h6 $SARDGrey17
        %h6 #302F2E
      .colour-swatch.SARDGrey19
        %h6 $SARDGrey19
        %h6 #100F0F
       
    
    


