.bubbleLogo{          left:0px;    }

.bubbleStatement{     left:400px;  }

.bubblePrint{         left:800px;  }

.bubbleWeb{           left:1200px; }

.bubbleClients{       left:1600px; }

.bubbleProfile{       left:2000px; }

.bubblePlayground{    left:2400px; }

.bubbleIllustration{  left:2800px; }

.bubbleCustard{       left:3200px; }

.bubbleLaughingBag{   left:3600px; }

.bubbleTshirts{       left:4000px; }

.bubbleEmail{         left:4400px; }

.bubbleLinkedIn{      left:4800px; }

.bubbleShare{         left:5200px; }
