$grid-gutter-width: 16px;

html, body {
  height: 100%;
  margin: 0px;
}

body{
  background: black;
  padding-bottom:0;
}

.container{
  height: 100% auto ;
  background: white;
  padding-left: 20px;
  padding-right:20px;
}

.bubbleouter{
  padding: 5%;
}

.bubblewrap{
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-md-column(3);
  }


// iPad mini  = 1024 x 768
// iPad       = 1024 x 768
// iPhone6p   = 736 x 414
// iPhone6    = 667 x 375
// iPhone5    = 568 x 320
// iPhone4    = 480 x 320


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2) {
// }

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .container { min-width: 3000px; }
    .bubblewrap{
      @include make-xs-column(1);
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {
// }

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .container { min-width: 3000px; }
    .bubblewrap{
      @include make-xs-column(1);
    }
}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 
// }

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .container { min-width: 3000px; }
    .bubblewrap{
      @include make-xs-column(1);
    }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 
// }

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .bubbleouter{ padding: 20px 0; }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .container { min-width: 4700px; height: 414px; padding-bottom:20px;}
    .bubbleouter{ padding: 20px 0; }
    .bubblewrap{ @include make-xs-column(1); }
}
