.bubbleLogo{
  top:225px;
  left:330px;
  width:323px;
  height:323px;
}

.bubbleStatement{
  top:535px;
  left:136px;
  width:393px;
  height:393px;
}

.bubblePrint{
  top:541px;
  left:535px;
  width:164px;
  height:164px;
}

.bubbleWeb{
  top:94px;
  left:247px;
  width:164px;
  height:164px;
}

.bubbleClients{
  top:456px;
  left:18px;
  width:164px;
  height:164px;
}

.bubbleProfile{
  top:272px;
  left:35px;
  width:164px;
  height:164px;
}

.bubblePlayground{
  top:395px;
  left:190px;
  width:124px;
  height:124px;
}

.bubbleIllustration{
  top:710px;
  left:630px;
  width:97px;
  height:97px;
}

.bubbleCustard{
  top:108px;
  left:427px;
  width:97px;
  height:97px;
}

.bubbleLaughingBag{
  top:175px;
  left:142px;
  width:97px;
  height:97px;
}

.bubbleTshirts{
  top:272px;
  left:218px;
  width:97px;
  height:97px;
}

.bubbleEmail{
  top:443px;
  left:650px;
  width:97px;
  height:97px;
}

.bubbleLinkedIn{
  top:717px;
  left:546px;
  width:64px;
  height:64px;
}

.bubbleShare{
  top:639px;
  left:62px;
  width:64px;
  height:64px;
}

// OLD ===============================================
// .bubble{
//   display:                  -webkit-flex; 
//   display:                  flex;
//   -webkit-flex-flow:        row;
//   flex-flow:                row;
//   -webkit-justify-content:  center;
//   justify-content:          center;
//   -webkit-align-items:      center;
//   align-items:              center;

//   background-color: $Orange;
//   margin:10px;
//   border-radius: 50%;
// }

// // bubble sizes are set in respontive partial

// .bubble{ 

//   min-width:250px;
//   min-height:250px;
// }