/*  FORM Colouring  ========================================================== */
/*  TYPOGRAPHY GENERAL ========================================================== */
/* 16 * 0.0312 = 1/2px */
/* 16 * 0.0312 = 1/2px */
/* 16 * 0.0312 = 1/2px */
/* 16 * 0.0625 = 1px */
/* 16 * 0.125 = 2px */
h1 {
  font-family: 'roboto', Helvetica, Arial, Sans-serif;
  font-weight: 100;
  font-size: 3.000em;
  letter-spacing: -0.025em; }

h2 {
  font-family: 'roboto', Helvetica, Arial, Sans-serif;
  font-weight: 300;
  font-size: 1.875em;
  margin-top: 0; }

h3 {
  font-family: 'roboto', Helvetica, Arial, Sans-serif;
  font-weight: 300;
  font-size: 1.600em;
  margin-top: 0; }

h4 h5 h6 {
  font-family: 'roboto', Helvetica, Arial, Sans-serif;
  font-weight: 300;
  font-size: 1.250em; }

p {
  font-family: 'roboto', Helvetica, Arial, Sans-serif;
  font-weight: 400;
  font-size: 1.000em; }
