
@import "partials/index/core-elements";
// @import "bootstrap";

// ====================================================================================



// iPad mini  = 1024 x 768
// iPad       = 1024 x 768
// iPhone6p   = 736 x 414
// iPhone6    = 667 x 375
// iPhone5    = 568 x 320
// iPhone4    = 480 x 320


@media(min-width:480px) { //BS3 xs

  // This is for the flex-container & bubblewrap for 480px and larger
    .flex-container{            // -webkit-  is for Safari
    display:                  -webkit-flex; 
    display:                  flex;
    -webkit-flex-flow:        row;
    flex-flow:                row;
    -webkit-justify-content:  center;
    justify-content:          center;
    -webkit-align-items:      center;
    align-items:              center;
    -webkit-flex-wrap:        wrap; 
    flex-wrap:                wrap;
    -webkit-align-content:    center; 
    align-content:            center;
  }

  .bubblewrap{
    display:                  -webkit-flex; 
    display:                  flex;
    -webkit-flex-flow:        row;
    flex-flow:                row;
    -webkit-justify-content:  center;
    justify-content:          center;
    -webkit-align-items:      center;
    align-items:              center;
    -webkit-flex-wrap:        wrap; 
    flex-wrap:                wrap;
    -webkit-align-content:    center; 
    align-content:            center;
  }
}

@media(min-width:768px){ //BS3 sm
}

@media(min-width:992px){ //BS3 md
}

@media(min-width:1200px){ //BS3 lg
}

@media(min-width:1024px){ // iPad landsape and larger
  @import "partials/index/large";
}

@media (min-width: 768px) and (max-width: 1024px)
   {
    @import "partials/index/medium";
}

@media (min-width: 480px) and (max-width: 767px)
   {
    @import "partials/index/small";
}


// ----------- iPhone 4 and 4S ----------------

// Portrait and Landscape
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2) {
// }

// Portrait
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

// Landscape
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

// ----------- iPhone 5 and 5S ----------------

// Portrait and Landscape
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {
// }

// Portrait
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

// Landscape
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}


// ----------- iPhone 6 ------------------------

// Portrait and Landscape
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 
// }

// Portrait
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
}

// Landscape
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
}


// ----------- iPhone 6+ -----------------------

// Portrait and Landscape
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 
// }

// Portrait
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    @import "partials/index/iphone6plus";
}

// Landscape
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    // @import "bootstrap";
    @import "partials/index/iphone6plus";
}
