@media (min-width: 1024px) {
  html, body {
    height: 100%; }

  body {
    background-color: #2F2B2D; }

  .flex-container {
    height: 100%; }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center; }

  .bubblewrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center; }

  .bubblewrap {
    position: relative;
    background-color: #2F2B2D;
    width: 1024px;
    height: 768px; }

  .bubble, .bubbleOpen {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }

  .bubble {
    position: absolute;
    background-color: white;
    border-radius: 50%; }

  .bubbleOpen {
    position: absolute;
    border: solid 1px #DC7321;
    border-radius: 50%; }

  .bubble, .bubbleOpen {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  .bubble:hover, .bubbleOpen:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

  .bubbleLogo {
    top: 114px;
    left: 224px;
    width: 323px;
    height: 323px; }

  .bubbleStatement {
    top: 237px;
    left: 535px;
    width: 393px;
    height: 393px; }

  .bubblePrint {
    top: 67px;
    left: 541px;
    width: 164px;
    height: 164px; }

  .bubbleWeb {
    top: 355px;
    left: 94px;
    width: 164px;
    height: 164px; }

  .bubbleClients {
    top: 584px;
    left: 455px;
    width: 164px;
    height: 164px; }

  .bubbleProfile {
    top: 567px;
    left: 272px;
    width: 164px;
    height: 164px; }

  .bubblePlayground {
    top: 452px;
    left: 396px;
    width: 124px;
    height: 124px; }

  .bubbleIllustration {
    top: 40px;
    left: 710px;
    width: 97px;
    height: 97px; }

  .bubbleCustard {
    top: 242px;
    left: 108px;
    width: 97px;
    height: 97px; }

  .bubbleLaughingBag {
    top: 528px;
    left: 175px;
    width: 97px;
    height: 97px; }

  .bubbleTshirts {
    top: 451px;
    left: 272px;
    width: 97px;
    height: 97px; }

  .bubbleEmail {
    top: 18px;
    left: 443px;
    width: 97px;
    height: 97px; }

  .bubbleLinkedIn {
    top: 156px;
    left: 717px;
    width: 64px;
    height: 64px; }

  .bubbleShare {
    top: 640px;
    left: 640px;
    width: 64px;
    height: 64px; } }
@media (min-width: 768px) and (max-width: 1024px) {
  html, body {
    height: 100%; }

  body {
    background-color: #2F2B2D; }

  .flex-container {
    height: 100%; }

  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center; }

  .bubblewrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center; }

  .bubblewrap {
    position: relative;
    background-color: #2F2B2D;
    height: 1024px;
    width: 768px; }

  .bubble, .bubbleOpen {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center; }

  .bubble {
    position: absolute;
    background-color: white;
    border-radius: 50%; }

  .bubbleOpen {
    position: absolute;
    border: solid 1px #DC7321;
    border-radius: 50%; }

  .bubble, .bubbleOpen {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  .bubble:hover, .bubbleOpen:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

  .bubbleLogo {
    top: 225px;
    left: 330px;
    width: 323px;
    height: 323px; }

  .bubbleStatement {
    top: 535px;
    left: 136px;
    width: 393px;
    height: 393px; }

  .bubblePrint {
    top: 541px;
    left: 535px;
    width: 164px;
    height: 164px; }

  .bubbleWeb {
    top: 94px;
    left: 247px;
    width: 164px;
    height: 164px; }

  .bubbleClients {
    top: 456px;
    left: 18px;
    width: 164px;
    height: 164px; }

  .bubbleProfile {
    top: 272px;
    left: 35px;
    width: 164px;
    height: 164px; }

  .bubblePlayground {
    top: 395px;
    left: 190px;
    width: 124px;
    height: 124px; }

  .bubbleIllustration {
    top: 710px;
    left: 630px;
    width: 97px;
    height: 97px; }

  .bubbleCustard {
    top: 108px;
    left: 427px;
    width: 97px;
    height: 97px; }

  .bubbleLaughingBag {
    top: 175px;
    left: 142px;
    width: 97px;
    height: 97px; }

  .bubbleTshirts {
    top: 272px;
    left: 218px;
    width: 97px;
    height: 97px; }

  .bubbleEmail {
    top: 443px;
    left: 650px;
    width: 97px;
    height: 97px; }

  .bubbleLinkedIn {
    top: 717px;
    left: 546px;
    width: 64px;
    height: 64px; }

  .bubbleShare {
    top: 639px;
    left: 62px;
    width: 64px;
    height: 64px; } }
