

$Orange:     #DC7321;
$Grey01:     #2F2B2D;
$Grey03:     #564F50;
$Grey05:     #837C7D;
$Grey07:     #B9B3B4;
$Grey08:     #F7F5F4;


@font-face {
    font-family: 'UniversLTStd-LightCn';
    src: url(../fonts/UniversLTStd/UniversLTStd-LightCn.eot);
    src: url(../fonts/UniversLTStd/UniversLTStd-LightCn.eot?#iefix) format('embedded-opentype'),
         url(../fonts/UniversLTStd/UniversLTStd-LightCn.woff) format('woff'),
         url(../fonts/UniversLTStd/UniversLTStd-LightCn.ttf) format('truetype'),
         url(../fonts/UniversLTStd/UniversLTStd-LightCn.svg#UniversLTStd-LightCn) format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {  /*Used for main headings*/
    font-family: 'UniversLTStd-LightUltraCn';
    src: url(../fonts/UniversLTStd/UniversLTStd-LightUltraCn.eot);
    src: url(../fonts/UniversLTStd/UniversLTStd-LightUltraCn.eot?#iefix) format('embedded-opentype'),
         url(../fonts/UniversLTStd/UniversLTStd-LightUltraCn.woff) format('woff'),
         url(../fonts/UniversLTStd/UniversLTStd-LightUltraCn.ttf) format('truetype'),
         url(../fonts/UniversLTStd/UniversLTStd-LightUltraCn.svg#UniversLTStd-LightUltraCn) format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {  /*Used for main headings*/
    font-family: 'UniversLTStd-ThinUltraCn';
    src: url(../fonts/UniversLTStd/UniversLTStd-ThinUltraCn.eot);
    src: url(../fonts/UniversLTStd/UniversLTStd-ThinUltraCn.eot?#iefix) format('embedded-opentype'),
         url(../fonts/UniversLTStd/UniversLTStd-ThinUltraCn.woff) format('woff'),
         url(../fonts/UniversLTStd/UniversLTStd-ThinUltraCn.ttf) format('truetype'),
         url(../fonts/UniversLTStd/UniversLTStd-ThinUltraCn.svg#UniversLTStd-ThinUltraCn) format('svg');
    font-weight: normal;
    font-style: normal;
}


h1{
  font-family: 'UniversLTStd-LightUltraCn', Arial, sans-serif;
}