%table.table
  %thead
    %tr
    %th Row
    %th First Name
    %th Last Name
    %th Email
  %tbody
    %tr.active
      %td 1
      %td John
      %td Carter
      %td active class
    %tr
      %td 2
      %td Peter
      %td Parker
      %td peterparker@mail.com
    %tr.success
      %td 3
      %td John
      %td Rambo
      %td success class
    %tr
      %td 2
      %td Peter
      %td Parker
      %td peterparker@mail.com
    %tr.warning
      %td 3
      %td John
      %td Rambo
      %td warning class
    %tr
      %td 2
      %td Peter
      %td Parker
      %td peterparker@mail.com
    %tr.danger
      %td 3
      %td John
      %td Rambo
      %td danger class
    %tr
      %td 2
      %td Peter
      %td Parker
      %td peterparker@mail.com
    %tr.info
      %td 3
      %td John
      %td Rambo
      %td info class