
.statement{
  font-size: 20px;
  line-height: 23px;
}

.logo{
  display:inline-block;
  border-left: 2px solid $Orange;
  padding-left:8px;
  text-align:left;

}

h1{
  top:0px;
  left:0px;
  font-size:64px;
  line-height:60px;
  margin-top: 3px;
  margin-bottom: -16px;
  word-spacing:-9px;
}