%table.table.table-fixed
  %thead
    %tr
      %th Question
      %th Good
      %th Bad
      %th Ugly
    %tr
      %th 
      %th 1
      %th 2
      %th 3
  %tbody
    %tr
      %td Rate your chances
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
    %tr
      %td Rate your collegues chances
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
    %tr
      %td Select a button
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
      %td 
        %input{"aria-label" => "...", :type => "radio"}/
