%table.table.table-default.table-striped
  %thead
    %tr
    %th Row
    %th First Name
    %th Last Name
    %th Email
  %tbody
    %tr
      %td 1
      %td John
      %td Carter
      %td johncarter@mail.com
    %tr
      %td 2
      %td Peter
      %td Parker
      %td peterparker@mail.com
    %tr
      %td 3
      %td John
      %td Rambo
      %td johnrambo@mail.com