


// ----------- iPhone 4 -----------------------

// Portrait

.flex-container { 
  display:inline-block;
  width: 320px;
  padding:0px;
  margin:0px;
}
.bubblewrap{ 
  display:inline-block;
  @include make-xs-column(12);
  width: 320px; 
}

.bubble{
  @include make-xs-column(1);
  margin-top:20px;
  margin-left:20px;
}

.bubbleLogo, .bubbleStatement, .bubblePrint, .bubbleWeb, .bubbleClients, .bubbleProfile, .bubblePlayground, .bubbleIllustration, 
.bubbleCustard, .bubbleLaughingBag, .bubbleTshirts, .bubbleEmail, .bubbleLinkedIn, .bubbleShare {
  width: 275px;
  height: 275px;
  top:0px;
  left:0px;
}





