


// ----------- iPhone 6 -----------------------

// Portrait

.flex-container { 
  display:inline-block;
  width: 375px;
  padding:0px;
  margin:0px;
  margin-left:6px!IMPORTANT;
}
.bubblewrap{ 
  display:inline-block;
  @include make-xs-column(12);
  width: 375px; 
}

.bubble{
  @include make-xs-column(1);
  margin-top:20px;
}

.bubbleLogo, .bubbleStatement, .bubblePrint, .bubbleWeb, .bubbleClients, .bubbleProfile, .bubblePlayground, .bubbleIllustration, 
.bubbleCustard, .bubbleLaughingBag, .bubbleTshirts, .bubbleEmail, .bubbleLinkedIn, .bubbleShare {
  width: 330px;
  height: 330px;
  top:0px;
  left:0px;
}

// ======================================================================================
// Typesizes

.statement{
  font-size: 18px;
  line-height: 20px;
}

.logo{
  display:inline-block;
  border-left: 2px solid $Orange;
  padding-left:8px;
  text-align:left;

}

h1{
  top:0px;
  left:0px;
  font-size:68px;
  line-height:64px;
  margin-top: 3px;
  margin-bottom: -16px;
  word-spacing:-10px;
}



