


// ----------- iPhone 6 -----------------------

// Portrait

.flex-container { 
  display:block;
}
.bubblewrap{ 
  @include make-xs-column(12);
  width: 320px; 
  padding-top:20px;
}

.bubble{
  @include make-xs-column(1);
  margin-bottom:20px;
}

.bubbleLogo, .bubbleStatement, .bubblePrint, .bubbleWeb, .bubbleClients, .bubbleProfile, .bubblePlayground, .bubbleIllustration, 
.bubbleCustard, .bubbleLaughingBag, .bubbleTshirts, .bubbleEmail, .bubbleLinkedIn, .bubbleShare {
  width: 275px;
  height: 275px;
}





