


// ----------- iPhone 6+ -----------------------

// Landscape

.flex-container { 
  display:inline-block;
  height: 414px; 
  padding:0px;
  margin:0px;
}
.bubblewrap{ 
  display:inline-block;
  @include make-xs-column(12);
  width:5500px;
  height: 394px; 
  margin-top:20px;
}

.bubble{
  @include make-xs-column(1);
  margin-right:20px;
}

.bubbleLogo, .bubbleStatement, .bubblePrint, .bubbleWeb, .bubbleClients, .bubbleProfile, .bubblePlayground, .bubbleIllustration, 
.bubbleCustard, .bubbleLaughingBag, .bubbleTshirts, .bubbleEmail, .bubbleLinkedIn, .bubbleShare {
  width: 370px;
  height: 370px;
  top:0px;
  left:0px;
}

// ======================================================================================
// Typesizes
.statement{
  font-size: 20px;
  line-height: 23px;
}

.logo{
  display:inline-block;
  border-left: 2px solid $Orange;
  padding-left:8px;
  text-align:left;

}

h1{
  top:0px;
  left:0px;
  font-size:72px;
  line-height:68px;
  margin-top: 3px;
  margin-bottom: -16px;
  word-spacing:-11px;
}

.bubblePrint, .bubbleWeb, .bubbleClients, .bubbleProfile, .bubblePlayground, .bubbleIllustration, .bubbleCustard, .bubbleTshirts, .bubbleEmail, .bubbleLaughingBag, .bubbleLinkedIn, .bubbleShare {
  font-size:50px;
  padding-top:10px;
  
}
a:link, a:link:hover { 
  color: $Grey01!IMPORTANT;
}



// ======================================================================================
// I have kept this in for when Bootstrap changes and I may need to do it all in flexbox.

// .flex-container{            
//   -webkit-align-items:flex-start;
//   align-items:flex-start;
//   -webkit-justify-content:flex-start;
//   justify-content:flex-start;
// }

// .bubblewrap{
//   -webkit-align-items:flex-start;
//   align-items:flex-start;
//   -webkit-justify-content:flex-start;
//   justify-content:flex-start;
//   min-width:5600px;
//   margin-left: 20px;
//   margin-right: 20px;
// }

// .bubble{
//   width: 370px;
//   height: 370px;
//   top: 20px;
// }

// .bubbleOpen{
//   width: 370px;
//   height: 370px;
//   top: 20px;
// }

// .bubbleLogo{          left:0px;    }

// .bubbleStatement{     left:400px;  }

// .bubblePrint{         left:800px;  }

// .bubbleWeb{           left:1200px; }

// .bubbleClients{       left:1600px; }

// .bubbleProfile{       left:2000px; }

// .bubblePlayground{    left:2400px; }

// .bubbleIllustration{  left:2800px; }

// .bubbleCustard{       left:3200px; }

// .bubbleLaughingBag{   left:3600px; }

// .bubbleTshirts{       left:4000px; }

// .bubbleEmail{         left:4400px; }

// .bubbleLinkedIn{      left:4800px; }

// .bubbleShare{         left:5200px; }
    
