


// @import "bootstrap";
@import "reset";
@import "core-elements";

// ====================================================================================

html, body {
  height: 100%; 
}

body {
  background-color: $Grey01;
}

* {
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: grayscale!important;
    font-smoothing: antialiased!important;
}


.flex-container {
  height:100%;
  // width:100%;
  border: 1px dotted yellow;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  }

.flex-container{            // -webkit-  is for Safari
  display:                  -webkit-flex; 
  display:                  flex;
  // -webkit-flex-flow:        row;
  // flex-flow:                row;
  // -webkit-justify-content:  center;
  // justify-content:          center;
  // -webkit-align-items:      center;
  // align-items:              center;
  // -webkit-flex-wrap:        wrap; 
  // flex-wrap:                wrap;
  // -webkit-align-content:    center; 
  // align-content:            center;
}

// .bubblewrap{
//   display:                  -webkit-flex; 
//   display:                  flex;
//   -webkit-flex-flow:        row;
//   flex-flow:                row;
//   -webkit-justify-content:  center;
//   justify-content:          center;
//   -webkit-align-items:      center;
//   align-items:              center;
//   -webkit-flex-wrap:        wrap; 
//   flex-wrap:                wrap;
//   -webkit-align-content:    center; 
//   align-content:            center;
// }

.bubblewrap{
  // position: relative;
  border: 1px dotted green;
}

.bubble{
  display:                  -webkit-flex; 
  display:                  flex;
  -webkit-flex-flow:        row;
  flex-flow:                row;
  -webkit-justify-content:  center;
  justify-content:          center;
  -webkit-align-items:      center;
  align-items:              center;
}

.bubble{
  // position: absolute;
  border-radius: 50%;
  text-align:center;
  background-color: white;
}

.bubbleLink{
  // background-color:yellow;
}


.bubbleStatement{
  border: solid 1px $Orange;
  background: none;
}


.bubble, .bubbleLink{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.bubbleLink:hover{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: $Grey01;
}


// WIP RESPONSIVE

// COMMON BREAKPOINTS
@media (max-width:319px) // xxs - smaller than iPhone4 width 
{ @import "partials/index/breakpoints/xxs"; }

@media (min-width:320px) // xs - mobile portrait 
{ @import "partials/index/breakpoints/xs"; }

@media (min-width:320px) and (orientation: landscape) // xs - mobile landscape 
{ @import "partials/index/breakpoints/xs_landscape"; }

@media (min-width:480px) // sm - mobile landcape 
{ }
@media (min-width:768px) // lg - tablet portrait 
{ }
@media (min-width:1024px) // xl - tablet lanscape 
{ }
@media (min-width:1224px) // xxl - desktop 
{ }








// OLD SHIT ============================================================

// h1, h2, h3, h4, h5, h6{
//   -webkit-transform: scale(1)!IMPORTANT;
//   -moz-transform: scale(1)!IMPORTANT;
//   -o-transform: scale(1)!IMPORTANT;
//   -ms-transform: scale(1)!IMPORTANT;
//   transform: scale(1)!IMPORTANT;
// }

// Index Type styles --------------------------------------------------

// .statement{
//   color: white;
// }



// // Media Sizes ========================================================

// // iPad mini  = 1024 x 768
// // iPad       = 1024 x 768
// // iPhone6p   = 736 x 414
// // iPhone6    = 667 x 375
// // iPhone5    = 568 x 320
// // iPhone4    = 480 x 320


// @media(min-width:480px) { //BS3 xs
// }

// @media(min-width:768px){ //BS3 sm
// }

// @media(min-width:992px){ //BS3 md
// }

// @media(min-width:1200px){ //BS3 lg
// }

// @media(min-width:1024px){ // iPad landscape and larger
//   // @import "partials/index/large";
// }

// @media (min-width: 768px) and (max-width: 1023px)
//    {
//     // @import "partials/index/medium";
// }

// @media (min-width: 480px) and (max-width: 767px)
//    {
//     // @import "partials/index/small";
// }

// @media (max-width: 479px)
//    {
//     // @import "partials/index/x-small";
// }

// // ----------- iPhone 4 and 4S ----------------

// // Portrait and Landscape
// // @media only screen 
// //   and (min-device-width: 320px) 
// //   and (max-device-width: 480px)
// //   and (-webkit-min-device-pixel-ratio: 2) {
// // }

// // Portrait
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//     @import "partials/index/devices/iPhone5-portrait";
// }

// // Landscape
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
//     @import "partials/index/devices/iPhone4-landscape";
// }

// // ----------- iPhone 5 and 5S ----------------

// // Portrait and Landscape
// // @media only screen 
// //   and (min-device-width: 320px) 
// //   and (max-device-width: 568px)
// //   and (-webkit-min-device-pixel-ratio: 2) {
// // }

// // Portrait
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//     @import "partials/index/devices/iPhone5-portrait";
// }

// // Landscape
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
//     @import "partials/index/devices/iPhone5-landscape";
// }


// // ----------- iPhone 6 ------------------------

// // Portrait and Landscape
// // @media only screen 
// //   and (min-device-width: 375px) 
// //   and (max-device-width: 667px) 
// //   and (-webkit-min-device-pixel-ratio: 2) { 
// // }

// // Portrait
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) { 
//     @import "partials/index/devices/iPhone6-portrait";
// }

// // Landscape
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) { 
//     @import "partials/index/devices/iPhone6-landscape";
// }


// /* ----------- iPhone 6+ ----------------------- */

// // Portrait and Landscape
// // @media only screen 
// //   and (min-device-width: 414px) 
// //   and (max-device-width: 736px) 
// //   and (-webkit-min-device-pixel-ratio: 3) { 
// // }

// /* Portrait */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) { 
//     @import "partials/index/devices/iPhone6plus-portrait";
// }

// /* Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: landscape) { 
//     // @import "bootstrap";
//     @import "partials/index/devices/iPhone6plus-landscape";
// }
