.bubble{ 

  min-width:250px;
  min-height:250px;

  @media(max-width:767px){ //BS3 xs
    
  }

  @media(min-width:768px){ //BS3 sm
    min-width:220px;
    min-height:220px;
  }

  @media(min-width:992px){ //BS3 md
    min-width:200px;
    min-height:200px;
  }

  @media(min-width:1200px){ //BS3 lg
    min-width:250px;
    min-height:250px;
  }

}


// iPad mini  = 1024 x 768
// iPad       = 1024 x 768
// iPhone6p   = 736 x 414
// iPhone6    = 667 x 375
// iPhone5    = 568 x 320
// iPhone4    = 480 x 320


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2) {
// }

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .container { min-width: 3000px; }
    .flex-container { display:inline-block;}
    .bubblewrap{
      @include make-xs-column(1);
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2) {
// }

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .container { min-width: 3500px!IMPORTANT; }
    .flex-container { display:inline-block;}
    .bubblewrap{ @include make-xs-column(1); }
}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 375px) 
//   and (max-device-width: 667px) 
//   and (-webkit-min-device-pixel-ratio: 2) { 
// }

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .container { min-width: 4000px; }
    .flex-container { display:inline-block; }
    .bubblewrap{ @include make-xs-column(1); }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
// @media only screen 
//   and (min-device-width: 414px) 
//   and (max-device-width: 736px) 
//   and (-webkit-min-device-pixel-ratio: 3) { 
// }

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    body {
      background-color: green;
    }
    .container {
      min-height: 4450px;
    }
    .flex-container { 
      display:inline-block;
      margin-top:20px;
    }
    .bubble { 
      min-width:350px; 
      min-height:350px;
      margin: 10px 0px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .container { min-width: 4600px; height: 414px; padding-bottom:20px;}
    .flex-container { display:inline-block;}
    .bubblewrap{ @include make-xs-column(1); }
    .bubble { 
      min-width:350px; 
      min-height:350px;
      margin: 30px 0px;
    }
}
